/* Provide sufficient contrast against white background */




body {
    background-color: lightblue;
    color: white;
    font-family: Calibri, sans-serif;
    margin: 0;
}

.root {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #008B8B;
    display: flex;
    padding: 1rem;
    justify-content: flex-end;
}

.search {
    font-family: inherit;
    background-color: transparent;
    border-radius: 5px;
    color: white;
    border: 2px solid lightblue;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
}

.search:focus{
    outline: 0;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.movie {
    background-color: #008B8B;
    margin: 1rem;
    border-radius: 3px;
    overflow: hidden;
    width: 300px;
    position: relative;
}

.movie img{
    object-fit: cover;
    height: 400px;
    width: 100%;

}

.movie-container{
    display: flex;
    flex-wrap: wrap;

}

.movie-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.movie-info h3{
    margin: 0;

}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}


.movie-over {
    background-color: #fff;
    color: lightblue;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0px -3px 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
    max-height: 100%;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    padding: 1rem;
}

.movie:hover .movie-over {
    transform: translateY(0%);
}